@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>О программе.</h2>

<div>
    <h3>Тестовое задание для компании-detali.zp.ua</h3>
    <p>Вакансия - программист .NET </p>
    <h4>Задание:</h4>
        <p>
            Необходимо описать две сущности – товар (имеет код, наименование и цену) и склад (номер, наименование).
    Товар лежит на складе. Для этих сущностей необходимо реализовать функционал добавления/удаления/редактирования и отображения в списке.
    Расширение функционала и оформление – на Ваше усмотрение. ASP MVC + MS SQL  или WinForms + MS SQL.
</p>
        <p>Выполнил: Пичурин Роман. тел.067 611 3663</p>
</div>

